/* .container {
  max-width: 1080px;
  margin: 20px auto;
}
 */
#pageWrapper::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

#pageWrapper::-webkit-scrollbar-track {
  background: rgb(96 165 250); /* color of the tracking area */
}

#pageWrapper::-webkit-scrollbar-thumb {
  background-color: rgb(49, 48, 48); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}
